spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  sql:
    init:
      data-locations: classpath*:db/h2/data.sql
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 944058941833-ubj99mduf78mfs0rm9v3ri7kfsi2an4f.apps.googleusercontent.com
            clientSecret: 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
            scope:
              - email
              - profile

mail:
  address:
    admin: admin@gmail.com

jwt:
  key: jwtasdfasdfasdfasdf
  access-token-expiration-minutes: 300
  refresh-token-expiration-minutes: 4200

logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG